<!-- src/app/contact/contact.component.html -->
<div id="contact">
    <div class="items-container">
      <div class="contact_wrapper">
        <h1>Contact Me</h1>
        <p>Got a project waiting to be realized? Let's collaborate and make it happen!</p>
  
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-flex">
            <div class="form-control">
              <label for="name">Your Name</label>
              <input
                id="name"
                type="text"
                placeholder="What's your name?"
                formControlName="name"
                [class.invalid]="name.touched && name.invalid"
              />
              <div class="error" *ngIf="name.touched && name.hasError('required')">
                Please enter your name
              </div>
            </div>
  
            <div class="form-control">
              <label for="email">Email / Phone</label>
              <input
                id="email"
                type="text"
                placeholder="How can I reach you?"
                formControlName="email"
                [class.invalid]="email.touched && email.invalid"
              />
              <div class="error" *ngIf="email.touched && email.hasError('required')">
                Please enter your email or phone number
              </div>
            </div>
          </div>
  
          <div class="form-control">
            <label for="message">Message</label>
            <textarea
              id="message"
              rows="10"
              class="body-form"
              placeholder="Send me any inquiries or questions"
              formControlName="message"
              [class.invalid]="message.touched && message.invalid"
            ></textarea>
            <div class="error" *ngIf="message.touched && message.hasError('required')">
              Please enter the message
            </div>
          </div>
  
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>