footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bg);

    div {
        display: inline-flex;
        gap: 12px;
        align-items: center;
    }

    svg {
        width: 1.2em !important;
        height: 1.2em !important;
        padding: 10px ;
        color: var(--text) !important;
    }

    fa-icon {
        color: var(--text) !important;
    }

    a {
        color: var(--text) !important;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        font-size: 0.8em;
    }
}