<div class="container">
    <div class="about-section">
      <div class="image-wrapper"><img [src]="'assets/images/profile-photo.jpg'" alt="Avatar" /></div>
      <div class="content">
        <div class="social_icons">
          <fa-icon [icon]="faGithub"></fa-icon>
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </div>
        <h1>Manh-Huan Nguyen</h1>
        <p>Full Stack Engineer</p>
        <div class="mobile_social_icons">
            <fa-icon [icon]="faSquareGithub"></fa-icon>
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </div>
      </div>
    </div>
</div>

