<div class="projects-container" id="projects">
    <h1>Personal Projects</h1>
  
    <div class="projects-grid">
      <div class="project" *ngFor="let p of projects">
        <a [href]="p.href" target="_blank" rel="noreferrer">
          <img [src]="p.imgSrc" class="zoom" [alt]="p.alt" width="100%" />
        </a>
  
        <a [href]="p.href" target="_blank" rel="noreferrer">
          <h2 [class.single-line]="p.nowrapTitle">{{ p.title }}</h2>
        </a>
  
        <p>{{ p.description }}</p>
      </div>
    </div>
</div>