<div class="container" id="expertise">
    <div class="skills-container">
      <h1>Expertise</h1>
  
      <div class="skills-grid">
  
        <!-- Full Stack -->
        <div class="skill">
          <fa-icon [icon]="faAngular" size="3x"></fa-icon>
          <h3>Full Stack Web Development</h3>
          <p>
            I have built and maintained enterprise-grade applications from scratch using
            modern technologies such as Java, Angular, Spring Boot, and Quarkus.
            I have strong proficiency in the software development lifecycle (SDLC),
            covering both frontend and backend development in Agile environments.
          </p>
          <div class="flex-chips">
            <span class="chip-title">Tech stack:</span>
            <mat-chip-listbox>
              <mat-chip *ngFor="let label of labelsFirst">{{ label }}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
  
        <!-- DevOps -->
        <div class="skill">
          <fa-icon [icon]="faDocker" size="3x"></fa-icon>
          <h3>DevOps & Automation</h3>
          <p>
            Beyond development, I set up and optimize DevOps practices, 
            including automated testing, CI/CD pipelines, 
            and Kubernetes-based deployment automation, 
            ensuring that applications are delivered quickly, reliably, and production-ready.
          </p>
          <div class="flex-chips">
            <span class="chip-title">Tech stack:</span>
            <mat-chip-listbox>
              <mat-chip *ngFor="let label of labelsSecond">{{ label }}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
</div>
  